@page
@model Formation.Pages.AddRestaurantModel
@{
}
<div class="container">
    <form method="post">
        <div class="mb-3">
            @Html.LabelFor(m=>m.Restaurant.Name)
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Restaurant.Name)
            </div>
            <span class="text-red"> @Html.ValidationMessageFor(m => m.Restaurant.Name)</span>
            
        </div>
        <div class="mb-3">
            @Html.LabelFor(m=>m.Restaurant.Address)
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Restaurant.Address)
            </div>
            <span class="text-red">   @Html.ValidationMessageFor(m => m.Restaurant.Address)</span>

          
        </div>
        <div class="mb-3">
            @Html.LabelFor(m=>m.Restaurant.PhoneNumber)
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Restaurant.PhoneNumber)
            </div>
            <span class="text-red"> @Html.ValidationMessageFor(m => m.Restaurant.PhoneNumber)</span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>